
<div class="image">
  <br><br><br><br><br><br><br><br><br><br><br><br>
<div class="section">
  <div class="row container">
    <h2 class="header">ReBootcampSpot</h2>
  <p class="grey-text text-darken-3 lighten-3">A better bootcampspot, for both students and administrators</p>
  </div>
 <div class="container align-center"> 
  <h5>Sign In</h5>			
  <div id="googleBtn" class="g-signin2"></div>
  </div>
</div>

<div [ngStyle]="{'background-image': getUrl()}"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


   
