<div class="col s12">
  <ul class="collection with-header hoverable">
      <li class="collection-header"><h5>Announcements<span class="btn large right">1 new</span></h5></li>
      <li class="collection-item avatar">
        <i class="material-icons circle">account_box</i>
        <span class="title">Subject</span>
        <p>Author <br>
          Message <br>
          fsdvsdvsd
        </p>
      </li>
      <li class="collection-item avatar">
          <i class="material-icons circle">account_box</i>
        <span class="title">Subject</span>
        <p>Author <br>
          Message
        </p>
        <a class="secondary-content"><i class="material-icons medium">error</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">account_box</i>
        <span class="title">Subject</span>
        <p>Author <br>
          Message
        </p>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">account_box</i>
        <span class="title">Subject</span>
        <p>Author <br>
          Message
        </p>
      </li>
    </ul>
  </div>