<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a routerLink="/admin" class="brand-logo">Rebootcampspot</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">

			<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
			<li><a routerLink="/videos" routerLinkActive="active">Playlist</a></li>
			<li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
			<li><a routerLink="/teachercenter" routerLinkActive="active">Teacher</a></li>
			<li><a routerLink="/classcenter" routerLinkActive="active">Class</a></li>             
			</ul>
		</div>
	</nav>
</div>    
<router-outlet></router-outlet>            

