<div class="col s12 m6">
    <div class="card small sticky-action hoverable">

      <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Next Lesson<i class="material-icons right">more_vert</i></span>
          <p>Nov. 2, 2017</p>
        </div>
      <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>This is the next class and the date or something and what the lesson is going to be about</p>
        </div>
      <div class="card-action">
        <span><a href="#"class="btn disabled">Check In</a></span>
        <a href="#" class="right">Request Absence</a>
        <a href="#" class="right">Find A Tutor</a>
      </div>
    </div>
  </div>