<ul class="nav nav-pills nav-stacked">
    <li (click)="onSelect(homework)" *ngFor="let homework of homeworks"><a>{{homework.title}}</a></li>
</ul>

<!-- This part is Caroline's -->
<!-- 
<div class="col s12 m6">
      <div class="card hoverable">
          <div class="card-content">
            <span class="card-title">Homework</span>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">
                    Homework 1
                    <span><i class="material-icons">arrow_drop_down</i></span>
                  </div>
                  <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                    <div class="card-action">
                        <a href="#">Submit Homework</a>
                        <a href="#">View Feedback</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    Homework 2
                    <span><i class="material-icons">arrow_drop_down</i></span>
                  </div>
                  <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                    <div class="card-action">
                        <a href="#">Submit Homework</a>
                        <a href="#">View Feedback</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    Homework 3
                    <span><i class="material-icons">arrow_drop_down</i></span>
                  </div>
                  <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                    <div class="card-action">
                        <a href="#">Submit Homework</a>
                        <a href="#">View Feedback</a>
                    </div>
                  </div>
                </li>
              </ul>
          </div>
				-->