
<div class="container">
	<div class="row">


		<div class="col s12 m7">
				<h3 class="header">User Creation</h3>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6">
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<p>Create a user here!</p>
						</div>
						<div class="card-action">
								<a class="waves-effect waves-light btn" routerLink="/usercreate" routerLinkActive="active">Create a user</a>
						</div>
					</div>
			</div>
		</div>

		<div class="col s12 m5">
				<h3 class="header">Cohort Creation</h3>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6">
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<p>Create a cohort here!</p>
						</div>
						<div class="card-action">
								<a class="waves-effect waves-light btn" routerLink="/cohortcreate" routerLinkActive="active">Create a cohort</a>
						</div>
					</div>
			</div>
		</div>

	</div>

	<div class="row">
			
			<div class="col s12 m7">
					<h3 class="header">Lesson Creation</h3>
					<div class="card horizontal">
						<div class="card-image">
							<img src="https://lorempixel.com/100/190/nature/6">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<p>Create a lesson here!</p>
							</div>
							<div class="card-action">
									<a class="waves-effect waves-light btn" routerLink="/lessoncreate" routerLinkActive="active">Create a lesson</a>
							</div>
						</div>
				</div>
			</div>
	
			<div class="col s12 m5">
					<h3 class="header">Homework Creation</h3>
					<div class="card horizontal">
						<div class="card-image">
							<img src="https://lorempixel.com/100/190/nature/6">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<p>Create a homework here!</p>
							</div>
							<div class="card-action">
									<a class="waves-effect waves-light btn" routerLink="/homeworkcreate" routerLinkActive="active">Create a homework</a>
							</div>
						</div>
				</div>
			</div>
	
		</div>
</div>



